@model app.Models.Video
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details: </h2><br/>
<h3>Video Title: @Model.Title</h3><br />
<h3>Video Description: @Model.Description</h3><br/>

<h3>Video Image: </h3><img src="~/UploadedImages/@Model.VideoImg" />