@model app.Models.Video
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@if (TempData["info"] != null)
{
    <div class="alert alert-@TempData["type"]" style="margin-top:3%">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong></strong> @TempData["info"]
    </div>
}

@using (Html.BeginForm("Update", "Videos", FormMethod.Post, new { @class = "form", @style = "width:50%", @enctype = "multipart/form-data" }))
{
    Html.RenderPartial("_VideoForm");
}

